// Mobile Devices <= 600px
// Tablet Devices > 600px
// Desktop Devices > 992px
// Large Desktop Devices > 1200px
$max-small: 600px;
$min-medium: 601px;
$max-medium: 991px;
$min-large: 992px;
$max-large: 1199px;
$min-extra-large: 1200px;

body {
  background-color: #eeeeee;
  font-family: "Open Sans", sans-serif;
}

#app-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#router-content {
  flex: 1 0 auto;
}

nav {
  font-family: "Roboto", sans-serif;
  .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $max-small) {
      height: 56px;
    }
    @media screen and (min-width: $min-medium) {
      height: 64px;
    }
    img {
      height: auto;
      max-width: 3rem;
      max-height: 3rem;
      width: auto;
    }
  }
}

footer {
  font-family: "Roboto", sans-serif;
}

.recipe-photo {
	height: auto;
	width: 100%;
}