// import dependencies
@import "../breakpoints";
@import "../colors";

#about {
    .by-the-numbers {
    }
    .how-it-works {
    }
    .mission {
    }
    .by-the-numbers,
    .how-it-works,
    .mission {
        border-bottom: 1px solid rgba($primary, 0.1);
        margin: 0;
        padding: 24px;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        i {
            color: $brand-secondary;
        }
        .card-panel {
            p {
                font-size: 14px;
                height: auto;
                line-height: 21px;
                margin: 14px 0;
                overflow: scroll;
                @media screen and (min-width: $min-medium) {
                    height: 42px;
                }
            }
            .date-ranges {
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                font-size: 14px;
                height: auto;
                line-height: 21px;
                margin-bottom: 14px;
                justify-content: flex-start;
                overflow: scroll;
                width: auto; 
                @media screen and (min-width: $min-medium) {
                    height: 42px;
                }
                select {
                    background-color: transparent;
                    border: none;
                    display: inline-block;
                    height: 21px;
                    padding: 0;
                    width: auto;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .description {
                display: block;
                font-size: 14px;
                height: auto;
                line-height: 21px;
                margin-bottom: 14px;
                overflow: scroll;
                @media screen and (min-width: $min-medium) {
                    height: 42px;
                }
            }
            .icon {
                display: block;
            }
            .number {
                display: block;
                font-family: "Signika", "Roboto", sans-serif;
                font-size: 49px;
            }
        }
    }
}
