// import dependencies
@import "../breakpoints";
@import "../colors";

#account {
    .navigation {
        button {
            overflow: hidden;
            text-align: left;
            white-space: nowrap;
            width: 100%;
            &:focus,
            &:hover {
                background-color: rgba($primary, 0.1);
            }
        }
        .active {
            background-color: rgba($primary, 0.1);
        }
    }
    .profile {
        .info {
            .city {
            }
            .email-address {
            }
            .first-name {
            }
            .last-name {
            }
            .postal-code {
            }
            .state {
            }
            .street-address {
            }
        }
        .update-profile {
            .confirm-update,
            .transmitting,
            .update {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
            }
            .confirm-update {
                flex-direction: row;
                flex-wrap: wrap;
                button {
                    margin-right: 1rem;
                }
                @media screen and (max-width: $max-small) {
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
    .recipes {
        .recipe-card-list {
            border: 1px solid rgba($primary, 0.1);
            height: auto;
            margin: 0;
            max-height: 450px;
            overflow: scroll;
        }
    }
    .settings {
        .change-password {
            .change,
            .confirm-change,
            .success,
            .transmitting {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
            }
            .confirm-change {
                flex-direction: row;
                flex-wrap: wrap;
                button {
                    margin-right: 1rem;
                }
                @media screen and (max-width: $max-small) {
                    align-items: flex-start;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                }
            }
        }
        .delete-user {
            .confirm-delete,
            .delete,
            .transmitting {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
            }
            .confirm-delete {
                flex-direction: row;
                flex-wrap: wrap;
                button,
                span {
                    margin-right: 1rem;
                }
                @media screen and (max-width: $max-small) {
                    align-items: flex-start;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                }
            }
        }
    }
}
