// import dependencies
@import "../breakpoints";
@import "../colors";

#get-recipe {
    .recipe-action {
        align-items: center;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .actions,
        .tags {
            display: flex;
            overflow: hidden;
            width: auto;
        }
        .actions {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 4px;
            padding-right: 4px;
            .heart-action,
            .vote-action {
                margin: 0;
                padding: 0;
                white-space: nowrap;
                button {
                    &:focus {
                        background-color: transparent;
                    }
                }
            }
            .heart-action {
                margin-right: 25px;
            }
        }
        .tags {
            align-items: center;
            justify-content: flex-start;
            padding: 4px;
            .chip {
                margin: 4px;
                white-space: nowrap;
            }
        }
    }
    .recipe-image {
        border-bottom: 1px solid rgba(160, 160, 160, 0.2);
        img {
            height: auto;
            width: 100%;
        }
    }
}
