// import dependencies
@import "../breakpoints";
@import "../colors";

#get-recipes {
    .banner {
        .content {
            align-items: center;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.125);
            display: flex;
            flex-wrap: nowrap;
            font-size: 1.25rem;
            justify-content: space-between;
            padding: 0.75rem;
            @media screen and (max-width: $max-small) {
                flex-wrap: wrap;
            }
            a {
                margin: 0.75rem;
                white-space: nowrap;
                width: auto;
            }
            p {
                margin: 0.75rem;
                padding: 0;
                width: auto;
            }
        }
    }
    .recipe-card-list {
        .recipe-card {
            margin: 1rem 0.25rem 1rem;
            .recipe-action {
                align-items: center;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                .actions,
                .tags {
                    display: flex;
                    overflow: hidden;
                    width: auto;
                }
                .actions {
                    align-items: flex-start;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 4px;
                    padding-right: 4px;
                    .heart-action,
                    .vote-action {
                        margin: 0;
                        padding: 0;
                        white-space: nowrap;
                        button {
                            &:focus {
                                background-color: transparent;
                            }
                        }
                    }
                    .heart-action {
                        margin-right: 25px;
                    }
                }
                .tags {
                    align-items: center;
                    justify-content: flex-start;
                    padding: 4px;
                    .chip {
                        margin: 4px;
                        white-space: nowrap;
                    }
                }
            }
            .recipe-image {
                border-bottom: 1px solid rgba(160, 160, 160, 0.2);
                img {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
    .sort-methods {
        align-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .button-group {
            align-content: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            .active {
                background-color: rgba($primary, 0.1);
            }
        }
    }
    .date-ranges {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding: 0 16px;
        width: auto;
        select {
            background-color: transparent;
            border: none;
            padding-left: 0;
            padding-right: 0;
            width: auto;
            &:focus {
                outline: none;
            }
        }
    }
    .recipe-tag-search {
        @media screen and (max-width: $max-medium) {
            margin-top: 1rem;
        }
        .autocomplete {
            padding-left: 1rem;
            .input-field {
                margin: 0;
                input[type="text"] {
                    font-size: 0.875rem;
                    height: 2rem;
                    line-height: 2rem;
                    margin: 0;
                }
                .prefix {
                    font-size: 1.3rem;
                    ~ input {
                        margin-left: 2.3rem;
                    }
                }
            }
            .suggestions {
                background-color: white;
                font-size: 0.875rem;
                height: auto;
                margin: 0 0 0 2.3rem;
                max-height: 9rem;
                overflow: scroll;
                padding: 0.875rem 0;
                width: calc(100% - 3rem);
                li {
                    color: rgba(0, 0, 0, 1);
                    padding: 0.125rem 1rem;
                    a {
                        color: rgba(0, 0, 0, 1);
                    }
                }
                li.active {
                    color: $brand-primary;
                }
            }
        }
    }
    .recipe-tag-list {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        max-height: 11rem;
        overflow: scroll;
        @media screen and (max-width: $max-medium) {
            margin-top: 1rem;
        }
        .chip {
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            span {
                white-space: nowrap;
            }
            i {
                padding: 0 0.5rem 0 0;
            }
        }
    }
}
