// import dependencies
@import "../breakpoints";

#no-match {
    .error {
        align-items: center;
        display: flex;
        font-family: "Signika", "Roboto", sans-serif;
        font-size: 10rem;
        justify-content: center;
        line-height: 10rem;
        img {
            height: 7rem;
            width: auto;
        }
        span {
            font-family: "Signika", "Roboto", sans-serif;
        }
        @media screen and (min-width: $min-medium) {
            font-size: 15rem;
            line-height: 15rem;
            img {
                height: 10.5rem;
            }
        }
        @media screen and (min-width: $min-large) {
            font-size: 20rem;
            line-height: 20rem;
            img {
                height: 14rem;
            }
        }
    }
}
