// import dependencies
@import "../breakpoints";
@import "../colors";

#post-recipe {
    // miscellaneous components
    hr {
        border-top: 1px solid $brand-light;
        margin: 2rem 0 1.5rem;
    }
    .row {
        margin-bottom: 0em;
    }
    // recipe title
    .title {
        // styles go here
    }
    // recipe description
    .description {
        textarea {
            overflow: scroll;
        }
    }
    // recipe photo
    .photo {
        .photo-container {
            background-color: $brand-light;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            height: auto;
            max-height: 22.5rem;
            max-width: 30rem;
            min-height: 17.5rem;
            width: auto;
        }
        .photo-input {
            display: block;
            height: 0;
            visibility: hidden;
            width: 0;
        }
        .confirm-delete {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0.5rem 0;
            span {
                margin: 0.5rem;
            }
            .buttons {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                button {
                    margin: 0.5rem;
                }
            }
        }
    }
    // recipe prep time
    // recipe cook time
    .time {
        margin-bottom: 0;
        p {
            overflow: hidden;
            @media screen and (min-width: $min-medium) {
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }
        .time-input {
            align-items: center;
            display: flex;
            justify-content: center;
            * {
                flex: 1;
                margin-left: 1rem;
            }
            span {
                flex-grow: 2;
            }
            input[type="number"] {
                flex-grow: 1;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                -moz-appearance: textfield;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
            input[type="range"] {
                flex-grow: 4;
                &::-webkit-slider-thumb {
                    background: $brand-primary;
                }
                &::-moz-range-thumb {
                    background: $brand-primary;
                }
                &::-ms-thumb {
                    background: $brand-primary;
                }
            }
        }
        .time-output {
            font-size: 2.5rem;
            margin-left: 1rem;
        }
    }
    // recipe servings
    .number {
        // background-color: yellowgreen;
        overflow: hidden;
        .number-input {
            align-items: center;
            display: flex;
            justify-content: flex-start;
        }
        .button-controls {
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            button {
                &:focus,
                &:hover {
                    background-color: transparent;
                }
            }
        }
        input[type="number"] {
            // background-color: cornflowerblue;
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
            text-align: center;
            width: 50px;
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    // recipe yield
    .yield {
        display: flex;
        .index {
            align-items: center;
            display: flex;
            font-size: 1rem;
            font-weight: 600;
            height: 4rem;
            justify-content: center;
        }
        .input-field {
            margin: 0;
            input {
                height: 4rem;
            }
            label {
                color: $secondary;
                font-size: 0.75rem;
                line-height: 1.5rem;
                top: -2rem;
            }
            select {
                height: 3rem;
                margin: 0.5rem 0;
                &:disabled {
                    color: $secondary;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    &::-ms-expand {
                        display: none;
                    }
                }
            }
            textarea {
                height: 4rem;
                overflow: scroll;
            }
        }
        .buttons {
            align-items: center;
            align-self: flex-start;
            display: flex;
            flex-direction: row;
            height: 4rem;
            justify-content: center;
            margin: 0;
            button {
                margin: 0 0.25rem;
            }
        }
    }
    // recipe preparations
    // recipe ingredients
    // recipe instructions
    .add-list-item,
    .list-item {
        display: flex;
        .index {
            align-items: center;
            display: flex;
            font-size: 1rem;
            font-weight: 600;
            height: 4rem;
            justify-content: center;
        }
        .input-field {
            margin: 0;
            input {
                height: 4rem;
            }
            label {
                color: $secondary;
                font-size: 0.75rem;
                line-height: 1.5rem;
                top: -2rem;
            }
            select {
                height: 3rem;
                margin: 0.5rem 0;
                &:disabled {
                    color: $secondary;
                    appearance: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    &::-ms-expand {
                        display: none;
                    }
                }
            }
            textarea {
                height: 4rem;
                overflow: scroll;
            }
        }
        .buttons {
            align-items: center;
            align-self: flex-start;
            display: flex;
            flex-direction: row;
            height: 4rem;
            justify-content: center;
            margin: 0;
            button {
                margin: 0 0.25rem;
            }
        }
    }
    .add-list-item {
        margin-top: 1rem;
    }
    .list-item {
        @media screen and (max-width: $max-small) {
            .buttons {
                align-self: center;
                flex-direction: column;
                margin: 0.75rem 0;
                button {
                    margin: 0.25rem 0;
                }
            }
        }
    }
    .list {
        border: 1px dotted $brand-grey;
        margin-top: 1rem;
        padding: 1rem 0;
    }
    // recipe notes
    .notes {
        textarea {
            height: 8rem;
            overflow: scroll;
        }
    }
    // recipe tags
    .tags {
        .recipe-tag-search {
            span {
                display: block;
                margin-top: 0.5rem;
            }
            .autocomplete {
                .input-field {
                    margin-bottom: 0;
                    input[type="text"] {
                        height: 2rem;
                        line-height: 2rem;
                        margin: 0;
                    }
                    .prefix {
                        display: none;
                    }
                }
                .suggestions {
                    background-color: $brand-light;
                    font-size: 0.875rem;
                    height: auto;
                    margin: 0;
                    max-height: 9rem;
                    overflow: scroll;
                    padding: 0.875rem 0;
                    width: calc(100% - 3rem);
                    li {
                        color: rgba(0, 0, 0, 1);
                        padding: 0.125rem 1rem;
                        a {
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                    li.active {
                        color: $brand-primary;
                    }
                }
            }
        }
        .recipe-tag-list {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            justify-content: flex-start;
            max-height: 11rem;
            overflow: scroll;
            padding: 0.25rem;
            @media screen and (max-width: $max-small) {
                margin-top: 1rem;
            }
            @media screen and (min-width: $min-medium) {
                min-height: calc(3rem + 1px);
            }
            .chip {
                display: flex;
                flex-wrap: nowrap;
                margin: 0.25rem;
                overflow: hidden;
                span {
                    white-space: nowrap;
                }
                i {
                    padding: 0 0.5rem 0 0;
                }
            }
        }
    }
    // recipe share setting
    .share {
        .switch {
            align-items: center;
            display: flex;
            height: calc(3rem + 1px);
        }
    }
    // recipe save button
    .save-button {
    }
}
