// import dependencies
@import "../breakpoints";
@import "../colors";

#sign-in {
    .banner {
        background-color: $success;
        font-size: 1.125rem;
        span {
            display: inline-block;
        }
    }
    .sign-in-form {
        a {
            color: $secondary;
        }
        .button {
        }
        .email-address {
        }
        .password {
        }
        .transmitting {
        }
    }
}
