// ****************************** //
// Mobile Devices <= 600px        //
// Tablet Devices > 600px         //
// Desktop Devices > 992px        //
// Large Desktop Devices > 1200px //
// ****************************** //
$max-small: 600px;
$min-medium: 601px;
$max-medium: 992px;
$min-large: 993px;
$max-large: 1200px;
$min-extra-large: 1201px;
