// import dependencies
@import 'colors';

// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Signika', sans-serif;
// font-family: 'Source Serif Pro', serif;
// font-family: 'Source Code Pro', monospace;

html {
    color: $primary;
    font-size: 14px;
}

body {
    background-color: $brand-light;
    font-family: "Source Sans Pro", sans-serif;
}

a {
    font-family: "Signika", "Roboto", sans-serif;
}

button {
    font-family: "Signika", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Signika", "Roboto", sans-serif;
}

p {
    font-family: "Source Sans Pro", sans-serif;
}

span {
    font-family: "Source Sans Pro", sans-serif;
}
