body {
  background-color: #eeeeee;
  font-family: "Open Sans", sans-serif;
}

footer {
  font-family: "Roboto", sans-serif;
}

nav {
  font-family: "Roboto", sans-serif;
}
nav i:hover {
  cursor: pointer;
}
nav .logo {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  nav .logo {
    height: 56px;
  }
}
@media screen and (min-width: 601px) {
  nav .logo {
    height: 64px;
  }
}
nav .logo img {
  height: auto;
  max-width: 3rem;
  max-height: 3rem;
  width: auto;
}

#app-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#create-recipe .ingredient :disabled,
#create-recipe .instruction :disabled {
  color: #000000;
}
#create-recipe .ingredient .input-field,
#create-recipe .instruction .input-field {
  margin: 0;
}
#create-recipe .ingredient .buttons,
#create-recipe .instruction .buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  #create-recipe .ingredient .buttons,
#create-recipe .instruction .buttons {
    flex-direction: column;
  }
  #create-recipe .ingredient .buttons button,
#create-recipe .instruction .buttons button {
    margin: 0.25rem 0;
  }
}
@media screen and (min-width: 992px) {
  #create-recipe .ingredient .buttons,
#create-recipe .instruction .buttons {
    flex-direction: row;
  }
  #create-recipe .ingredient .buttons button,
#create-recipe .instruction .buttons button {
    margin: 0 0.25rem;
  }
}
#create-recipe .ingredient .buttons span,
#create-recipe .instruction .buttons span {
  font-weight: bold;
}
#create-recipe .image-input {
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}
#create-recipe .ingredient .buttons {
  height: 3rem;
}
@media screen and (max-width: 991px) {
  #create-recipe .ingredient .buttons {
    height: 6rem;
  }
}
#create-recipe .instruction .buttons {
  height: 4rem;
}
@media screen and (max-width: 991px) {
  #create-recipe .instruction .buttons {
    height: 4rem;
  }
}
#create-recipe .ingredients,
#create-recipe .instructions {
  border: 1px dotted #bdbdbd;
  padding: 1.5rem 0 0;
}
#create-recipe .recipe-placeholder {
  padding: 1.5rem;
}
#create-recipe .recipe-placeholder img {
  height: auto;
  max-width: 100%;
  width: auto;
}
@media screen and (max-width: 600px) {
  #create-recipe .recipe-image,
#create-recipe .recipe-placeholder {
    height: auto;
    max-height: 20rem;
    max-width: 20rem;
    width: auto;
    margin: 0 auto;
  }
}
@media screen and (min-width: 601px) {
  #create-recipe .recipe-image,
#create-recipe .recipe-placeholder {
    height: auto;
    max-height: 15rem;
    max-width: 15rem;
    width: auto;
    margin: 0 auto;
  }
}

#no-match img,
#no-match div {
  width: 100px;
  height: 100px;
}
#no-match .x {
  animation: x 13s linear infinite alternate;
}
#no-match .y {
  animation: y 7s linear infinite alternate;
}
@keyframes x {
  100% {
    transform: translateX(calc(500px - 100px));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(500px - 100px));
  }
}

#router-content {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;
}

.card .create-buttons {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .card .create-buttons {
    flex-direction: column;
  }
}
.card .create-buttons .create-recipe,
.card .create-buttons .create-shopping-list {
  margin: 0.75rem;
}

.invalid-input input,
.invalid-input input[type=text],
.invalid-input input[type=password],
.invalid-input input[type=email],
.invalid-input input[type=url],
.invalid-input input[type=time],
.invalid-input input[type=date],
.invalid-input input[type=datetime],
.invalid-input input[type=datetime-local],
.invalid-input input[type=tel],
.invalid-input input[type=number],
.invalid-input input[type=search],
.invalid-input textarea.materialize-textarea {
  border-bottom: 1px solid #ff8a65;
  box-shadow: 0 1px 0 0 #ff8a65;
  color: #ff8a65;
}
.invalid-input input::placeholder,
.invalid-input input[type=text]::placeholder,
.invalid-input input[type=password]::placeholder,
.invalid-input input[type=email]::placeholder,
.invalid-input input[type=url]::placeholder,
.invalid-input input[type=time]::placeholder,
.invalid-input input[type=date]::placeholder,
.invalid-input input[type=datetime]::placeholder,
.invalid-input input[type=datetime-local]::placeholder,
.invalid-input input[type=tel]::placeholder,
.invalid-input input[type=number]::placeholder,
.invalid-input input[type=search]::placeholder,
.invalid-input textarea.materialize-textarea::placeholder {
  color: #ff8a65;
}
.invalid-input select {
  outline: 1px solid #ff8a65;
}

.invalid-span {
  color: #ff8a65;
  display: block;
  text-align: center;
}

.invalid-recipe-title,
.invalid-recipe-description,
.invalid-recipe-image,
.invalid-recipe-ingredients,
.invalid-recipe-instructions {
  border: 1px solid #ff8a65;
}

.invalid-recipe-ingredients,
.invalid-recipe-instructions {
  padding: 0.5rem;
}

.no-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.no-recipes img {
  height: auto;
  margin: 2rem 0 3rem;
  max-width: 10rem;
  width: auto;
}

.recipe-image img {
  height: auto;
  max-width: 100%;
  width: auto;
}

.side-nav {
  background-color: #eeeeee;
  border-right: 1px solid #757575;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 0;
  z-index: 1;
}
.side-nav .control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.side-nav .control i:hover {
  cursor: pointer;
}
.side-nav .control .brand {
  align-items: center;
  display: flex;
  font-size: 1.375rem;
  font-weight: bold;
  height: 56px;
  line-height: 3rem;
  justify-content: center;
  white-space: nowrap;
}
.side-nav .control .brand img {
  height: auto;
  margin-right: 1rem;
  max-width: 3rem;
  max-height: 3rem;
  width: auto;
}
.side-nav .links ul {
  margin: 0;
  margin: 0;
}
.side-nav .links ul li a {
  background-color: #eeeeee;
  display: block;
  padding: 1rem 2rem;
  transition: 0.3s;
  white-space: nowrap;
}
.side-nav .links ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.side-nav.closed {
  width: 0;
}

.side-nav.open {
  width: 18rem;
}

.marketing.card-image {
  height: auto;
  min-height: 10rem;
  min-width: 10rem;
  padding: 1rem;
  width: auto;
}
.marketing.card-image img {
  height: auto;
  max-height: 8rem;
  max-width: 8rem;
  width: auto;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.px-0 {
  padding: 0;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4rem;
}

.px-5 {
  padding: 0 5rem;
}

.py-0 {
  padding: 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-5 {
  padding: 5rem 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mx-0 {
  margin: 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4rem;
}

.mx-5 {
  margin: 0 5rem;
}

.my-0 {
  margin: 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.my-5 {
  margin: 5rem 0;
}

blockquote {
  border-left: 5px solid #ffc107;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

select:focus {
  outline: 1px solid #ffc107;
}

textarea.materialize-textarea {
  height: 4rem;
}

/*# sourceMappingURL=styles.css.map */
