body {
  background-color: #eeeeee;
  font-family: "Source Sans Pro", sans-serif;
}

footer {
  font-family: "Signika", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", "Roboto", sans-serif;
}

nav {
  font-family: "Signika", "Roboto", sans-serif;
}
nav i:hover {
  cursor: pointer;
}
nav .active {
  font-weight: bold;
}
nav .logo {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  nav .logo {
    height: 56px;
  }
}
@media screen and (min-width: 601px) {
  nav .logo {
    height: 64px;
  }
}
nav .logo img {
  height: auto;
  max-width: 3rem;
  max-height: 3rem;
  width: auto;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

span {
  font-family: "Source Sans Pro", sans-serif;
}

#app-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#get-recipes .recipe-sort-methods {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#get-recipes .recipe-sort-methods .active {
  background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 992px) {
  #get-recipes .recipe-tag-search {
    margin-top: 1rem;
  }
}
#get-recipes .recipe-tag-search .autocomplete {
  padding-left: 1rem;
}
#get-recipes .recipe-tag-search .autocomplete .input-field {
  margin: 0;
}
#get-recipes .recipe-tag-search .autocomplete .input-field input[type=text] {
  font-size: 0.875rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
}
#get-recipes .recipe-tag-search .autocomplete .input-field .prefix {
  font-size: 1.3rem;
}
#get-recipes .recipe-tag-search .autocomplete .input-field .prefix ~ input {
  margin-left: 2.3rem;
}
#get-recipes .recipe-tag-search .autocomplete .suggestions {
  background-color: white;
  font-size: 0.875rem;
  height: auto;
  margin: 0 0 0 2.3rem;
  max-height: 9rem;
  overflow: scroll;
  padding: 0.875rem 0;
  width: calc(100% - 3rem);
}
#get-recipes .recipe-tag-search .autocomplete .suggestions li {
  color: black;
  padding: 0.125rem 1rem;
}
#get-recipes .recipe-tag-search .autocomplete .suggestions li a {
  color: black;
}
#get-recipes .recipe-tag-search .autocomplete .suggestions li.active {
  color: #ffb74d;
}
#get-recipes .recipe-tag-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 11rem;
  overflow: scroll;
}
@media screen and (max-width: 992px) {
  #get-recipes .recipe-tag-list {
    margin-top: 1rem;
  }
}
#get-recipes .recipe-tag-list .chip {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
#get-recipes .recipe-tag-list .chip span {
  white-space: nowrap;
}
#get-recipes .recipe-tag-list .chip i {
  padding: 0 0.5rem 0 0;
}

#post-recipe .row:not(:first-child) {
  margin-bottom: 0em;
}
@media screen and (max-width: 992px) {
  #post-recipe .tags .recipe-tag-search {
    margin-top: 1rem;
  }
}
#post-recipe .tags .recipe-tag-search .autocomplete {
  padding-left: 1rem;
}
#post-recipe .tags .recipe-tag-search .autocomplete .input-field {
  margin: 0;
}
#post-recipe .tags .recipe-tag-search .autocomplete .input-field input[type=text] {
  font-size: 0.875rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
}
#post-recipe .tags .recipe-tag-search .autocomplete .input-field .prefix {
  font-size: 1.3rem;
}
#post-recipe .tags .recipe-tag-search .autocomplete .input-field .prefix ~ input {
  margin-left: 2.3rem;
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions {
  background-color: white;
  font-size: 0.875rem;
  height: auto;
  margin: 0 0 0 2.3rem;
  max-height: 9rem;
  overflow: scroll;
  padding: 0.875rem 0;
  width: calc(100% - 3rem);
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions li {
  color: black;
  padding: 0.125rem 1rem;
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions li a {
  color: black;
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions li.active {
  color: #ffb74d;
}
#post-recipe .tags .recipe-tag-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 11rem;
  overflow: scroll;
}
@media screen and (max-width: 992px) {
  #post-recipe .tags .recipe-tag-list {
    margin-top: 1rem;
  }
}
#post-recipe .tags .recipe-tag-list .chip {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
#post-recipe .tags .recipe-tag-list .chip span {
  white-space: nowrap;
}
#post-recipe .tags .recipe-tag-list .chip i {
  padding: 0 0.5rem 0 0;
}
#post-recipe .time {
  margin-bottom: 0;
}
#post-recipe .time p {
  overflow: hidden;
}
@media screen and (min-width: 601px) {
  #post-recipe .time p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
#post-recipe .time .time-input {
  align-items: center;
  display: flex;
  justify-content: center;
}
#post-recipe .time .time-input * {
  flex: 1;
  margin-left: 1rem;
}
#post-recipe .time .time-input span {
  flex-grow: 2;
}
#post-recipe .time .time-input input[type=number] {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  -moz-appearance: textfield;
}
#post-recipe .time .time-input input[type=number]::-webkit-outer-spin-button, #post-recipe .time .time-input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#post-recipe .time .time-input input[type=range] {
  flex-grow: 4;
}
#post-recipe .time .time-input input[type=range]::-webkit-slider-thumb {
  background: #ffc107;
}
#post-recipe .time .time-input input[type=range]::-moz-range-thumb {
  background: #ffc107;
}
#post-recipe .time .time-input input[type=range]::-ms-thumb {
  background: #ffc107;
}
#post-recipe .time .time-output {
  font-size: 2.5rem;
  margin-left: 1rem;
}
@media screen and (max-width: 992px) {
  #post-recipe .preparation {
    padding: 1rem 0;
  }
}
#post-recipe .preparation .index {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  justify-content: center;
}
#post-recipe .preparation .input-field {
  margin: 0;
}
#post-recipe .preparation .input-field textarea {
  overflow: scroll;
}
#post-recipe .preparation .input-field textarea:disabled {
  color: #000000;
}
#post-recipe .preparation .buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: center;
  margin: 0.25rem 0;
}
@media screen and (max-width: 992px) {
  #post-recipe .preparation .buttons {
    flex-direction: column;
  }
}
#post-recipe .preparation .buttons button {
  margin: 0 0.25rem;
}
@media screen and (max-width: 992px) {
  #post-recipe .preparation .buttons button {
    margin: 0.25rem 0;
  }
}
#post-recipe .preparations-list {
  border: 1px dotted #bdbdbd;
}
#post-recipe .preparations-list .row {
  margin-bottom: 0em;
}
#post-recipe .image-input {
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}
#post-recipe .ingredient .buttons {
  height: 3rem;
}
@media screen and (max-width: 992px) {
  #post-recipe .ingredient .buttons {
    height: 6rem;
  }
}
#post-recipe .instruction .buttons,
#post-recipe .preparation .buttons {
  height: 4rem;
}
@media screen and (max-width: 992px) {
  #post-recipe .instruction .buttons,
#post-recipe .preparation .buttons {
    height: 4rem;
  }
}
#post-recipe .ingredients,
#post-recipe .instructions,
#post-recipe .preparations {
  border: 1px dotted #bdbdbd;
  padding: 1.5rem 0 0;
}
#post-recipe .recipe-image,
#post-recipe .recipe-placeholder {
  align-items: center;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  max-height: 22.5rem;
  max-width: 30rem;
  padding: 1.5rem;
  width: auto;
}
@media screen and (max-width: 600px) {
  #post-recipe .recipe-image img,
#post-recipe .recipe-placeholder img {
    height: auto;
    max-height: calc(22.5rem - 3rem);
    max-width: calc(30rem - 3rem);
    width: 100%;
  }
}
@media screen and (min-width: 601px) {
  #post-recipe .recipe-image img,
#post-recipe .recipe-placeholder img {
    height: auto;
    max-height: calc(22.5rem - 3rem);
    max-width: calc(30rem - 3rem);
    width: 100%;
  }
}
#post-recipe .share .switch-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
#no-match img,
#no-match div {
  width: 100px;
  height: 100px;
}
#no-match .x {
  animation: x 13s linear infinite alternate;
}
#no-match .y {
  animation: y 7s linear infinite alternate;
}
@keyframes x {
  100% {
    transform: translateX(calc(500px - 100px));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(500px - 100px));
  }
}

#router-content {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 0;
  justify-content: flex-start;
  overflow-y: hidden;
}

.breadcrumbs {
  line-height: 1.15;
}
.breadcrumbs .breadcrumb {
  color: black;
}
.breadcrumbs .breadcrumb:before {
  color: black;
}

.card {
  color: #000000;
}
.card a {
  color: #000000;
}
.card .create-buttons {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  .card .create-buttons {
    flex-direction: column;
  }
}
.card .create-buttons .create-recipe,
.card .create-buttons .create-shopping-list {
  margin: 0.75rem;
}

.recipe-actions {
  display: flex;
  flex-direction: row;
}
.recipe-actions .heart-action,
.recipe-actions .vote-action {
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
.recipe-actions .heart-action button:focus,
.recipe-actions .vote-action button:focus {
  background-color: transparent;
}
.recipe-actions .heart-action {
  text-align: left;
  width: 35%;
}
.recipe-actions .vote-action {
  text-align: right;
  width: 65%;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  .recipe-actions {
    flex-direction: column-reverse;
  }
  .recipe-actions .heart-action,
.recipe-actions .vote-action {
    text-align: center;
  }
  .recipe-actions .heart-action {
    width: 100%;
  }
  .recipe-actions .vote-action {
    width: 100%;
  }
}

.invalid-input input:not([type]),
.invalid-input input[type=text],
.invalid-input input[type=password],
.invalid-input input[type=email],
.invalid-input input[type=url],
.invalid-input input[type=time],
.invalid-input input[type=date],
.invalid-input input[type=datetime],
.invalid-input input[type=datetime-local],
.invalid-input input[type=tel],
.invalid-input input[type=number],
.invalid-input input[type=search],
.invalid-input textarea.materialize-textarea,
.invalid-input input:not([type]):focus:not([readonly]),
.invalid-input input[type=text]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=password]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=email]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=url]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=time]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=date]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=datetime]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=tel]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=number]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=search]:not(.browser-default):focus:not([readonly]),
.invalid-input textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff8a65;
  box-shadow: 0 1px 0 0 #ff8a65;
  color: #ff8a65;
}
.invalid-input input:not([type])::placeholder,
.invalid-input input[type=text]::placeholder,
.invalid-input input[type=password]::placeholder,
.invalid-input input[type=email]::placeholder,
.invalid-input input[type=url]::placeholder,
.invalid-input input[type=time]::placeholder,
.invalid-input input[type=date]::placeholder,
.invalid-input input[type=datetime]::placeholder,
.invalid-input input[type=datetime-local]::placeholder,
.invalid-input input[type=tel]::placeholder,
.invalid-input input[type=number]::placeholder,
.invalid-input input[type=search]::placeholder,
.invalid-input textarea.materialize-textarea::placeholder,
.invalid-input input:not([type]):focus:not([readonly])::placeholder,
.invalid-input input[type=text]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=password]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=email]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=url]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=time]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=date]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=datetime]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=datetime-local]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=tel]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=number]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=search]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input textarea.materialize-textarea:focus:not([readonly])::placeholder {
  color: #ff8a65;
}
.invalid-input select {
  outline: 1px solid #ff8a65;
}

.invalid-message {
  color: #ff8a65;
}

.no-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.no-recipes img {
  height: auto;
  margin: 2rem 0 3rem;
  max-width: 10rem;
  width: auto;
}

.router {
  overflow: auto;
}

.side-nav {
  background-color: #eeeeee;
  border-right: 1px solid #757575;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 0;
  z-index: 1;
}
.side-nav .control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.side-nav .control i:hover {
  cursor: pointer;
}
.side-nav .control .brand {
  align-items: center;
  display: flex;
  font-size: 1.375rem;
  font-weight: bold;
  height: 56px;
  line-height: 3rem;
  justify-content: center;
  white-space: nowrap;
}
.side-nav .control .brand img {
  height: auto;
  margin-right: 1rem;
  max-width: 3rem;
  max-height: 3rem;
  width: auto;
}
.side-nav .links ul {
  margin: 0;
  margin: 0;
}
.side-nav .links ul li a {
  background-color: #eeeeee;
  display: block;
  padding: 1rem 2rem;
  transition: 0.3s;
  white-space: nowrap;
}
.side-nav .links ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.side-nav.closed {
  width: 0;
}

.side-nav.open {
  width: 18rem;
}

@media screen and (max-width: 992px) {
  .recipe-share-setting,
.recipe-tags > .search,
.recipe-tags > .tags {
    margin: 1rem;
  }
}

.recipe-tags > .search .autocomplete {
  padding: 0 1rem;
}
.recipe-tags > .search .autocomplete .input-field {
  margin: 0;
}
.recipe-tags > .search .autocomplete .input-field input[type=text] {
  font-size: 0.875rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
}
.recipe-tags > .search .autocomplete .input-field .prefix {
  font-size: 1.3rem;
}
.recipe-tags > .search .autocomplete .input-field .prefix ~ input {
  margin-left: 2.3rem;
}
.recipe-tags > .search .autocomplete .suggestions {
  background-color: white;
  font-size: 0.875rem;
  margin: 0 0 0 2.3rem;
  overflow: hidden;
  padding: 0.875rem 0;
  width: calc(100% - 3rem);
}
.recipe-tags > .search .autocomplete .suggestions li {
  color: black;
  padding: 0.125rem 1rem;
}
.recipe-tags > .search .autocomplete .suggestions li a {
  color: black;
}
.recipe-tags > .search .autocomplete .suggestions li.active {
  color: #ffb74d;
}

.marketing.card-image {
  height: auto;
  min-height: 10rem;
  min-width: 10rem;
  padding: 1rem;
  width: auto;
}
.marketing.card-image img {
  height: auto;
  max-height: 8rem;
  max-width: 8rem;
  width: auto;
}

.xs-text {
  font-size: 50%;
}

.sm-text {
  font-size: 75%;
}

.m-text {
  font-size: 100%;
}

.l-text {
  font-size: 125%;
}

.xl-text {
  font-size: 150%;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.px-0 {
  padding: 0 !important;
}

.px-1 {
  padding: 0 1rem !important;
}

.px-2 {
  padding: 0 2rem !important;
}

.px-3 {
  padding: 0 3rem !important;
}

.px-4 {
  padding: 0 4rem !important;
}

.px-5 {
  padding: 0 5rem !important;
}

.py-0 {
  padding: 0 !important;
}

.py-1 {
  padding: 1rem 0 !important;
}

.py-2 {
  padding: 2rem 0 !important;
}

.py-3 {
  padding: 3rem 0 !important;
}

.py-4 {
  padding: 4rem 0 !important;
}

.py-5 {
  padding: 5rem 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.mr-0 {
  margin-left: 0 !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.my-1 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.my-2 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.my-3 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.my-4 {
  margin-bottom: 4rem !important;
  margin-top: 4rem !important;
}

.my-5 {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}

blockquote {
  border-left: 5px solid #ffc107;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

select:focus {
  outline: 1px solid #ffc107;
}

textarea.materialize-textarea {
  height: 4rem;
}

/*# sourceMappingURL=styles.css.map */
