body {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", "Roboto", sans-serif;
}

nav {
  font-family: "Signika", "Roboto", sans-serif;
}
nav i:hover {
  cursor: pointer;
}
nav .active {
  font-weight: bold;
}
nav .logo {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  nav .logo {
    height: 56px;
  }
}
@media screen and (min-width: 601px) {
  nav .logo {
    height: 64px;
  }
}
nav .logo img {
  height: auto;
  max-height: 3rem;
  max-height: 3rem;
  width: auto;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

span {
  font-family: "Source Sans Pro", sans-serif;
}

#account .navigation button {
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}
#account .navigation button:focus, #account .navigation button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#account .navigation .active {
  background-color: rgba(0, 0, 0, 0.1);
}
#account .recipes {
  border: 1px solid #f5f5f5;
  height: auto;
  max-height: 450px;
  overflow: scroll;
}
#account .recipes .card.recipe-card .card-image .card-title {
  color: #f5f5f5;
  text-shadow: 1px 1px #000000;
}
#account .recipes .card.recipe-card .card-content .card-title {
  color: #000000;
  font-weight: 400;
}
#account .recipes .card.recipe-card .card-action.recipe-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
#account .recipes .card.recipe-card .card-action.recipe-action .actions,
#account .recipes .card.recipe-card .card-action.recipe-action .tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}
#account .recipes .card.recipe-card .card-action.recipe-action .actions {
  justify-content: flex-start;
}
#account .recipes .card.recipe-card .card-action.recipe-action .actions .heart-action,
#account .recipes .card.recipe-card .card-action.recipe-action .actions .vote-action {
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
#account .recipes .card.recipe-card .card-action.recipe-action .actions .heart-action button:focus,
#account .recipes .card.recipe-card .card-action.recipe-action .actions .vote-action button:focus {
  background-color: transparent;
}
#account .recipes .card.recipe-card .card-action.recipe-action .actions .heart-action {
  margin-right: 25px;
}
#account .recipes .card.recipe-card .card-action.recipe-action .tags {
  justify-content: flex-end;
  padding: 4px 16px;
}
#account .recipes .card.recipe-card .card-action.recipe-action .tags .chip {
  margin: 4px;
  white-space: nowrap;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  #account .recipes .card.recipe-card .card-action.recipe-action {
    flex-direction: column;
  }
  #account .recipes .card.recipe-card .card-action.recipe-action .actions,
#account .recipes .card.recipe-card .card-action.recipe-action .tags {
    justify-content: center;
    width: 100%;
  }
}
#account .settings .delete-account button {
  margin: 1.0933333333rem 0 0.656rem 0;
}
#account .settings .delete-account h5 {
  line-height: 36px;
}
#index .recipes-preview .overflow-x-container {
  background-color: yellowgreen;
  overflow: scroll;
  padding: 0.75rem;
}
#index .recipes-preview .overflow-x-container .overflow-x-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card {
  display: inline-block;
  margin: 0.75rem;
  min-width: 500px;
  width: 100%;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-image .card-title {
  color: #f5f5f5;
  text-shadow: 1px 1px #000000;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-content .card-title {
  color: #000000;
  font-weight: 400;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions,
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions {
  justify-content: flex-start;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions .heart-action,
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions .vote-action {
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions .heart-action button:focus,
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions .vote-action button:focus {
  background-color: transparent;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions .heart-action {
  margin-right: 25px;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .tags {
  justify-content: flex-end;
  padding: 4px 16px;
}
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .tags .chip {
  margin: 4px;
  white-space: nowrap;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  #index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action {
    flex-direction: column;
  }
  #index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .actions,
#index .recipes-preview .overflow-x-container .overflow-x-content .card.recipe-card .card-action.recipe-action .tags {
    justify-content: center;
    width: 100%;
  }
}

#app-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#get-recipe .recipe-image img {
  height: auto;
  width: 100%;
}
#get-recipe .recipe-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
#get-recipe .recipe-action .actions,
#get-recipe .recipe-action .tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
#get-recipe .recipe-action .actions {
  justify-content: flex-start;
}
#get-recipe .recipe-action .actions .heart-action,
#get-recipe .recipe-action .actions .vote-action {
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
#get-recipe .recipe-action .actions .heart-action button:focus,
#get-recipe .recipe-action .actions .vote-action button:focus {
  background-color: transparent;
}
#get-recipe .recipe-action .actions .heart-action {
  margin-right: 25px;
}
#get-recipe .recipe-action .tags {
  height: auto;
  justify-content: flex-end;
  max-height: 80px;
  min-height: 40px;
  overflow: auto;
  padding: 0 16px;
}
#get-recipe .recipe-action .tags .chip {
  margin: 4px;
  white-space: nowrap;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  #get-recipe .recipe-action {
    flex-direction: column;
  }
  #get-recipe .recipe-action .actions,
#get-recipe .recipe-action .tags {
    justify-content: center;
    width: 100%;
  }
}

#get-recipes .card.recipe-card .card-image .card-title {
  color: #f5f5f5;
  text-shadow: 1px 1px #000000;
}
#get-recipes .card.recipe-card .card-content .card-title {
  color: #000000;
  font-weight: 400;
}
#get-recipes .card.recipe-card .card-action.recipe-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
#get-recipes .card.recipe-card .card-action.recipe-action .actions,
#get-recipes .card.recipe-card .card-action.recipe-action .tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}
#get-recipes .card.recipe-card .card-action.recipe-action .actions {
  justify-content: flex-start;
}
#get-recipes .card.recipe-card .card-action.recipe-action .actions .heart-action,
#get-recipes .card.recipe-card .card-action.recipe-action .actions .vote-action {
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
#get-recipes .card.recipe-card .card-action.recipe-action .actions .heart-action button:focus,
#get-recipes .card.recipe-card .card-action.recipe-action .actions .vote-action button:focus {
  background-color: transparent;
}
#get-recipes .card.recipe-card .card-action.recipe-action .actions .heart-action {
  margin-right: 25px;
}
#get-recipes .card.recipe-card .card-action.recipe-action .tags {
  justify-content: flex-end;
  padding: 4px 16px;
}
#get-recipes .card.recipe-card .card-action.recipe-action .tags .chip {
  margin: 4px;
  white-space: nowrap;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  #get-recipes .card.recipe-card .card-action.recipe-action {
    flex-direction: column;
  }
  #get-recipes .card.recipe-card .card-action.recipe-action .actions,
#get-recipes .card.recipe-card .card-action.recipe-action .tags {
    justify-content: center;
    width: 100%;
  }
}
#get-recipes .recipe-sort-methods {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#get-recipes .recipe-sort-methods .active {
  background-color: rgba(0, 0, 0, 0.1);
}
#get-recipes .date-ranges {
  align-items: center;
  color: #000000;
  display: flex;
  padding: 0 16px;
  width: auto;
}
#get-recipes .date-ranges select {
  background-color: transparent;
  border: none;
  width: auto;
}
#get-recipes .date-ranges select:focus {
  outline: none;
}
@media screen and (max-width: 992px) {
  #get-recipes .recipe-tag-search {
    margin-top: 1rem;
  }
}
#get-recipes .recipe-tag-search .autocomplete {
  padding-left: 1rem;
}
#get-recipes .recipe-tag-search .autocomplete .input-field {
  margin: 0;
}
#get-recipes .recipe-tag-search .autocomplete .input-field input[type=text] {
  font-size: 0.875rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
}
#get-recipes .recipe-tag-search .autocomplete .input-field .prefix {
  font-size: 1.3rem;
}
#get-recipes .recipe-tag-search .autocomplete .input-field .prefix ~ input {
  margin-left: 2.3rem;
}
#get-recipes .recipe-tag-search .autocomplete .suggestions {
  background-color: #f5f5f5;
  font-size: 0.875rem;
  height: auto;
  margin: 0 0 0 2.3rem;
  max-height: 9rem;
  overflow: scroll;
  padding: 0.875rem 0;
  width: calc(100% - 3rem);
}
#get-recipes .recipe-tag-search .autocomplete .suggestions li {
  color: black;
  padding: 0.125rem 1rem;
}
#get-recipes .recipe-tag-search .autocomplete .suggestions li a {
  color: black;
}
#get-recipes .recipe-tag-search .autocomplete .suggestions li.active {
  color: #ffc107;
}
#get-recipes .recipe-tag-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-height: 11rem;
  overflow: scroll;
}
@media screen and (max-width: 992px) {
  #get-recipes .recipe-tag-list {
    margin-top: 1rem;
  }
}
#get-recipes .recipe-tag-list .chip {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
#get-recipes .recipe-tag-list .chip span {
  white-space: nowrap;
}
#get-recipes .recipe-tag-list .chip i {
  padding: 0 0.5rem 0 0;
}

#footer {
  font-family: "Signika", "Roboto", sans-serif;
}
#footer .copyright {
  line-height: 2rem;
}
#footer .social img {
  height: auto;
  margin: 0 0.5rem;
  max-height: 2rem;
  max-width: 2rem;
  width: auto;
}

#post-recipe hr {
  border-top: 1px solid #f5f5f5;
  margin: 2rem 0 1.5rem;
}
#post-recipe .error-message {
  color: #ff5722;
}
#post-recipe .row {
  margin-bottom: 0em;
}
#post-recipe .description textarea {
  overflow: scroll;
}
#post-recipe .photo .photo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  max-height: 22.5rem;
  max-width: 30rem;
  min-height: 17.5rem;
  width: auto;
}
#post-recipe .photo .base64 img {
  height: auto;
  max-height: 22.5rem;
  width: 100%;
}
#post-recipe .photo .base64 .invalid-photo {
  border: 1px solid #ff5722;
}
#post-recipe .photo .placeholder {
  background-color: #f5f5f5;
}
#post-recipe .photo .photo-input {
  display: block;
  height: 0;
  visibility: hidden;
  width: 0;
}
#post-recipe .time {
  margin-bottom: 0;
}
#post-recipe .time p {
  overflow: hidden;
}
@media screen and (min-width: 601px) {
  #post-recipe .time p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
#post-recipe .time .time-input {
  align-items: center;
  display: flex;
  justify-content: center;
}
#post-recipe .time .time-input * {
  flex: 1;
  margin-left: 1rem;
}
#post-recipe .time .time-input span {
  flex-grow: 2;
}
#post-recipe .time .time-input input[type=number] {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  -moz-appearance: textfield;
}
#post-recipe .time .time-input input[type=number]::-webkit-outer-spin-button, #post-recipe .time .time-input input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#post-recipe .time .time-input input[type=range] {
  flex-grow: 4;
}
#post-recipe .time .time-input input[type=range]::-webkit-slider-thumb {
  background: #ffc107;
}
#post-recipe .time .time-input input[type=range]::-moz-range-thumb {
  background: #ffc107;
}
#post-recipe .time .time-input input[type=range]::-ms-thumb {
  background: #ffc107;
}
#post-recipe .time .time-output {
  font-size: 2.5rem;
  margin-left: 1rem;
}
#post-recipe .number {
  overflow: hidden;
}
#post-recipe .number .number-input {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
#post-recipe .number .button-controls {
  display: flex;
  flex-direction: column;
}
#post-recipe .number .button-controls button:focus, #post-recipe .number .button-controls button:hover {
  background-color: transparent;
}
#post-recipe .number input[type=number] {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  width: 50px;
  -moz-appearance: textfield;
}
#post-recipe .number input[type=number]::-webkit-outer-spin-button, #post-recipe .number input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#post-recipe .yield {
  display: flex;
}
#post-recipe .yield .index {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  justify-content: center;
}
#post-recipe .yield .input-field {
  margin: 0;
}
#post-recipe .yield .input-field input {
  height: 4rem;
}
#post-recipe .yield .input-field label {
  color: #9e9e9e;
  font-size: 0.75rem;
  line-height: 1.5rem;
  top: -2rem;
}
#post-recipe .yield .input-field select {
  height: 3rem;
  margin: 0.5rem 0;
}
#post-recipe .yield .input-field select:disabled {
  color: #9e9e9e;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#post-recipe .yield .input-field select:disabled::-ms-expand {
  display: none;
}
#post-recipe .yield .input-field textarea {
  height: 4rem;
  overflow: scroll;
}
#post-recipe .yield .buttons {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: center;
  margin: 0;
}
#post-recipe .yield .buttons button {
  margin: 0 0.25rem;
}
#post-recipe .add-list-item,
#post-recipe .list-item {
  display: flex;
}
#post-recipe .add-list-item .index,
#post-recipe .list-item .index {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  height: 4rem;
  justify-content: center;
}
#post-recipe .add-list-item .input-field,
#post-recipe .list-item .input-field {
  margin: 0;
}
#post-recipe .add-list-item .input-field input,
#post-recipe .list-item .input-field input {
  height: 4rem;
}
#post-recipe .add-list-item .input-field label,
#post-recipe .list-item .input-field label {
  color: #9e9e9e;
  font-size: 0.75rem;
  line-height: 1.5rem;
  top: -2rem;
}
#post-recipe .add-list-item .input-field select,
#post-recipe .list-item .input-field select {
  height: 3rem;
  margin: 0.5rem 0;
}
#post-recipe .add-list-item .input-field select:disabled,
#post-recipe .list-item .input-field select:disabled {
  color: #9e9e9e;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#post-recipe .add-list-item .input-field select:disabled::-ms-expand,
#post-recipe .list-item .input-field select:disabled::-ms-expand {
  display: none;
}
#post-recipe .add-list-item .input-field textarea,
#post-recipe .list-item .input-field textarea {
  height: 4rem;
  overflow: scroll;
}
#post-recipe .add-list-item .buttons,
#post-recipe .list-item .buttons {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: center;
  margin: 0;
}
#post-recipe .add-list-item .buttons button,
#post-recipe .list-item .buttons button {
  margin: 0 0.25rem;
}
#post-recipe .add-list-item {
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  #post-recipe .list-item .buttons {
    align-self: center;
    flex-direction: column;
    margin: 0.75rem 0;
  }
  #post-recipe .list-item .buttons button {
    margin: 0.25rem 0;
  }
}
#post-recipe .list {
  border: 1px dotted #9e9e9e;
  margin-top: 1rem;
  padding: 1rem 0;
}
#post-recipe .notes textarea {
  height: 8rem;
  overflow: scroll;
}
#post-recipe .tags .recipe-tag-search span {
  display: block;
  margin-top: 0.5rem;
}
#post-recipe .tags .recipe-tag-search .autocomplete .input-field {
  margin-bottom: 0;
}
#post-recipe .tags .recipe-tag-search .autocomplete .input-field input[type=text] {
  height: 2rem;
  line-height: 2rem;
  margin: 0;
}
#post-recipe .tags .recipe-tag-search .autocomplete .input-field .prefix {
  display: none;
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions {
  background-color: #f5f5f5;
  font-size: 0.875rem;
  height: auto;
  margin: 0;
  max-height: 9rem;
  overflow: scroll;
  padding: 0.875rem 0;
  width: calc(100% - 3rem);
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions li {
  color: black;
  padding: 0.125rem 1rem;
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions li a {
  color: black;
}
#post-recipe .tags .recipe-tag-search .autocomplete .suggestions li.active {
  color: #ffc107;
}
#post-recipe .tags .recipe-tag-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: flex-start;
  max-height: 11rem;
  overflow: scroll;
  padding: 0.25rem;
}
@media screen and (max-width: 600px) {
  #post-recipe .tags .recipe-tag-list {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 601px) {
  #post-recipe .tags .recipe-tag-list {
    min-height: calc(3rem + 1px);
  }
}
#post-recipe .tags .recipe-tag-list .chip {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.25rem;
  overflow: hidden;
}
#post-recipe .tags .recipe-tag-list .chip span {
  white-space: nowrap;
}
#post-recipe .tags .recipe-tag-list .chip i {
  padding: 0 0.5rem 0 0;
}
#post-recipe .share .switch {
  align-items: center;
  display: flex;
  height: calc(3rem + 1px);
}
#no-match img,
#no-match div {
  width: 100px;
  height: 100px;
}
#no-match .x {
  animation: x 13s linear infinite alternate;
}
#no-match .y {
  animation: y 7s linear infinite alternate;
}
@keyframes x {
  100% {
    transform: translateX(calc(500px - 100px));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(500px - 100px));
  }
}

#router-content {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
}

.indeterminate-message {
  font-size: 1rem;
}
.indeterminate-message .message {
  display: inline-block;
}
.indeterminate-message .dots {
  display: inline-block;
  overflow: visible;
  width: 0;
}

.breadcrumbs {
  line-height: 1.15;
}
.breadcrumbs .breadcrumb {
  color: #000000;
}
.breadcrumbs .breadcrumb:before {
  color: #000000;
}

.card {
  color: #000000;
}
.card a {
  color: #000000;
}
.card .create-buttons {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 601px) and (max-width: 992px) {
  .card .create-buttons {
    flex-direction: column;
  }
}
.card .create-buttons .create-recipe,
.card .create-buttons .create-shopping-list {
  margin: 0.75rem;
}

.invalid-input input:not([type]),
.invalid-input input[type=text],
.invalid-input input[type=password],
.invalid-input input[type=email],
.invalid-input input[type=url],
.invalid-input input[type=time],
.invalid-input input[type=date],
.invalid-input input[type=datetime],
.invalid-input input[type=datetime-local],
.invalid-input input[type=tel],
.invalid-input input[type=number],
.invalid-input input[type=search],
.invalid-input textarea.materialize-textarea,
.invalid-input input:not([type]):focus:not([readonly]),
.invalid-input input[type=text]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=password]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=email]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=url]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=time]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=date]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=datetime]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=tel]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=number]:not(.browser-default):focus:not([readonly]),
.invalid-input input[type=search]:not(.browser-default):focus:not([readonly]),
.invalid-input textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff5722;
  box-shadow: 0 1px 0 0 #ff5722;
  color: #ff5722;
}
.invalid-input input:not([type])::placeholder,
.invalid-input input[type=text]::placeholder,
.invalid-input input[type=password]::placeholder,
.invalid-input input[type=email]::placeholder,
.invalid-input input[type=url]::placeholder,
.invalid-input input[type=time]::placeholder,
.invalid-input input[type=date]::placeholder,
.invalid-input input[type=datetime]::placeholder,
.invalid-input input[type=datetime-local]::placeholder,
.invalid-input input[type=tel]::placeholder,
.invalid-input input[type=number]::placeholder,
.invalid-input input[type=search]::placeholder,
.invalid-input textarea.materialize-textarea::placeholder,
.invalid-input input:not([type]):focus:not([readonly])::placeholder,
.invalid-input input[type=text]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=password]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=email]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=url]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=time]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=date]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=datetime]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=datetime-local]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=tel]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=number]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input input[type=search]:not(.browser-default):focus:not([readonly])::placeholder,
.invalid-input textarea.materialize-textarea:focus:not([readonly])::placeholder {
  color: #ff5722;
}
.invalid-input select {
  outline: 1px solid #ff5722;
}

.invalid-message {
  color: #ff5722;
}

.invalid-upload {
  border: 1px solid #ff5722;
}

.no-recipes {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.no-recipes img {
  height: auto;
  margin: 2rem 0 3rem;
  max-width: 10rem;
  width: auto;
}

.side-nav {
  background-color: #f5f5f5;
  border-right: 1px solid #212121;
  height: 100vh;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 0;
  z-index: 1;
}
.side-nav .control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.side-nav .control i:hover {
  cursor: pointer;
}
.side-nav .control .brand {
  align-items: center;
  display: flex;
  font-size: 1.375rem;
  font-weight: bold;
  height: 56px;
  line-height: 3rem;
  justify-content: center;
  white-space: nowrap;
}
.side-nav .control .brand img {
  height: auto;
  margin-right: 1rem;
  max-width: 3rem;
  max-height: 3rem;
  width: auto;
}
.side-nav .links ul {
  margin: 0;
  margin: 0;
}
.side-nav .links ul li a {
  background-color: #f5f5f5;
  display: block;
  padding: 1rem 2rem;
  transition: 0.3s;
  white-space: nowrap;
}
.side-nav .links ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.side-nav.closed {
  width: 0;
}

.side-nav.open {
  width: 18rem;
}

@media screen and (max-width: 992px) {
  .recipe-share-setting,
.recipe-tags > .search,
.recipe-tags > .tags {
    margin: 1rem;
  }
}

.recipe-tags > .search .autocomplete {
  padding: 0 1rem;
}
.recipe-tags > .search .autocomplete .input-field {
  margin: 0;
}
.recipe-tags > .search .autocomplete .input-field input[type=text] {
  font-size: 0.875rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
}
.recipe-tags > .search .autocomplete .input-field .prefix {
  font-size: 1.3rem;
}
.recipe-tags > .search .autocomplete .input-field .prefix ~ input {
  margin-left: 2.3rem;
}
.recipe-tags > .search .autocomplete .suggestions {
  background-color: #f5f5f5;
  font-size: 0.875rem;
  margin: 0 0 0 2.3rem;
  overflow: hidden;
  padding: 0.875rem 0;
  width: calc(100% - 3rem);
}
.recipe-tags > .search .autocomplete .suggestions li {
  color: black;
  padding: 0.125rem 1rem;
}
.recipe-tags > .search .autocomplete .suggestions li a {
  color: black;
}
.recipe-tags > .search .autocomplete .suggestions li.active {
  color: #ffc107;
}

.marketing.card-image {
  height: auto;
  min-height: 10rem;
  min-width: 10rem;
  padding: 1rem;
  width: auto;
}
.marketing.card-image img {
  height: auto;
  max-height: 8rem;
  max-width: 8rem;
  width: auto;
}

.xs-text {
  font-size: 50%;
}

.sm-text {
  font-size: 75%;
}

.m-text {
  font-size: 100%;
}

.l-text {
  font-size: 125%;
}

.xl-text {
  font-size: 150%;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.px-0 {
  padding: 0 !important;
}

.px-1 {
  padding: 0 1rem !important;
}

.px-2 {
  padding: 0 2rem !important;
}

.px-3 {
  padding: 0 3rem !important;
}

.px-4 {
  padding: 0 4rem !important;
}

.px-5 {
  padding: 0 5rem !important;
}

.py-0 {
  padding: 0 !important;
}

.py-1 {
  padding: 1rem 0 !important;
}

.py-2 {
  padding: 2rem 0 !important;
}

.py-3 {
  padding: 3rem 0 !important;
}

.py-4 {
  padding: 4rem 0 !important;
}

.py-5 {
  padding: 5rem 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.mr-0 {
  margin-left: 0 !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.my-1 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.my-2 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.my-3 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.my-4 {
  margin-bottom: 4rem !important;
  margin-top: 4rem !important;
}

.my-5 {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important;
}

blockquote {
  border-left: 5px solid #ffc107;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc107;
  box-shadow: 0 1px 0 0 #ffc107;
}

select:focus {
  outline: 1px solid #ffc107;
}

textarea.materialize-textarea {
  height: 4rem;
}

button,
input,
select,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  color: #9e9e9e;
}
button::placeholder,
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #9e9e9e;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}
input:-webkit-autofill::placeholder,
input:-webkit-autofill:hover::placeholder,
input:-webkit-autofill:focus::placeholder,
textarea:-webkit-autofill::placeholder,
textarea:-webkit-autofill:hover::placeholder,
textarea:-webkit-autofill:focus::placeholder,
select:-webkit-autofill::placeholder,
select:-webkit-autofill:hover::placeholder,
select:-webkit-autofill:focus::placeholder {
  font-size: 16px;
}

.progress {
  background-color: #ffeb3b;
}
.progress .indeterminate {
  background-color: #ffc107;
}

/*# sourceMappingURL=styles.css.map */
