// foundation styles
@import 'breakpoints';
@import 'colors';
@import 'elements';
@import 'forms';
@import 'overrides';
@import 'utilities';

// layout styles
@import 'layout';

// validation styles
@import 'validation';

// route styles
@import './routes/terms-and-conditions';
@import './routes/about';
@import './routes/account';
@import './routes/contact';
@import './routes/forgot-password';
@import './routes/get-recipe';
@import './routes/get-recipes';
@import './routes/index';
@import './routes/no-match';
@import './routes/post-recipe';
@import './routes/privacy-policy';
@import './routes/put-recipe';
@import './routes/reset-password';
@import './routes/shop';
@import './routes/sign-in';
@import './routes/sign-up';

// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Signika', sans-serif;
// font-family: 'Source Serif Pro', serif;
// font-family: 'Source Code Pro', monospace;

.brand {
  font-weight: 600;
}

// THIS NEEDS TO GET ADDED TO POST RECIPE CSS?!
// THIS NEEDS TO BE EVALUATED!?
.recipe-share-setting,
.recipe-tags > .search,
.recipe-tags > .tags {
  @media screen and (max-width: $max-medium) {
    margin: 1rem;
  }
}

// THIS NEEDS TO GET ADDED TO POST RECIPE CSS?!
// THIS NEEDS TO BE EVALUATED!?
.recipe-tags > .search {
  .autocomplete {
    padding: 0 1rem;
    .input-field {
      margin: 0;
      input[type="text"] {
        font-size: 0.875rem;
        height: 2rem;
        line-height: 2rem;
        margin: 0;
      }
      .prefix {
        font-size: 1.3rem;
        ~ input {
          margin-left: 2.3rem;
        }
      }
    }
    .suggestions {
      background-color: $brand-light;
      font-size: 0.875rem;
      margin: 0 0 0 2.3rem;
      overflow: hidden;
      padding: 0.875rem 0;
      width: calc(100% - 3rem);
      li {
        color: rgba(0, 0, 0, 1);
        padding: 0.125rem 1rem;
        a {
          color: rgba(0, 0, 0, 1);
        }
      }
      li.active {
        color: $brand-primary;
      }
    }
  }
}
